// Define variables for your color scheme

// For example:
$light-blue: #38B6FF;
$blue: #2493D4;
$white: white;
$light-gray: #68696E;
$gray: #252830;

$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
