<<<<<<< HEAD
.custom-placeholder::placeholder {
  color: #68696E;
=======

.custom-input::selection {
  background-color: white;
  color: $gray;
>>>>>>> ac5c79a209f3caf1c9ce768f7be5384d462dce29
}

input[type="text"]:focus {
  background-color: rgb(255, 255, 255); /* 设置所需的背景颜色 */
  color: rgb(0, 0, 0); /* 设置所需的文本颜色 */
}
