// Specific CSS for your home-page
.flex-container {
  display: flex;
  height: 79px;
  background-color: #68696E;
  justify-content: center;
  align-items: center;
}

.flex-container div {
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 30%;
}

.img {
  width: 200px;
  height: 200px;
}
