// Specific CSS for your home-page
.flex-container {
  display: flex;
  height: 79px;
  background-color: $gray;
  justify-content: center;
  align-items: center;
}

.flex-container div {
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 30%;
}
