.logo-container {
  width: 154.03px;
  height: 85px;
  position: absolute;
  left: 0;
}

.navbar {
  background-color: #e3f2fd;
  height: 85px;
  position:relative;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
justify-content: flex-end;
}
