.show_view h1 {

  font-size: 65px;
  font-weight: bold;
  color: black;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 15px;
  text-align:left;
  padding-left: 10%;
}


.show_view p {

  font-size: 15px;
  color: black;
 
}
