<div class="flex-container">
<div class="container-item">
<%= link_to "Create a flat", new_flat_path, class: "btn btn-primary" %>
</div>
</div>
<%# <% @flats.each do } %>
<h1>Flats#index</h1>

<p>Find me in app/views/flats/index.html.erb</p>
