


<h1>Flats</h1>

<% if @address.present? %>
  <h3>Results for "<%= @address %>":</h3>


<% end %>

<% @flats.each do |flat|%>
<ul>
<li><b><%= link_to  flat.name,  flat_path(flat)%> </b> : <i><u> <%= flat.address  %> </i></u> ; <%= flat.description  %></li>
</ul>

<% end  %>
