<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# Button of chosing places and started Date %>
<%# <%= button_to "Create a flat", action: "" %>
<%# Create a flat %>
<%# Show the every flat %>
