.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2493D4;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #68696E;
  transition: background 0.3s ease;
}

.btn-primary {
  background: white;
  padding: 8px 24px;
  border-radius: 4px;
  color: #68696E;
  transition: background 0.3s ease;
}


.button-navbar {
  align-items: center;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  touch-action: manipulation;
  list-style: none;
}


.button-navbar:hover {
  border-bottom: 1px solid;
  border-color: rgb(234, 241, 251);
  color: rgb(234, 241, 251);
  fill: rgb(234, 241, 251);
}

@media (min-width: 768px) {
  .button-navbar {
    min-width: 170px;
  }
}
