.navbar-lewagon {
  justify-content: space-between;
  background: #2476d4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom {
  border-bottom: 1px solid #000000;
}

.navbar {
  list-style: none;
}
